.php*
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/.htaccess
/public/mix-manifest.jso
/storage/*.key
/vendor
_ide*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error.log
access.log